{% extends 'site/base.html' %}

{% block subtitle %}
About
{% endblock %}

{% block content %}

<center>

<div class="card-panel">
    <p>
        The <strong>Site Tracker</strong> is a web app that allows us to track cosmic anomalies, signatures,
        and wormholes in wormhole space.<br />
        It was designed in early October of 2013 for the alliance Ocularis Inferno, and has since undergone
        many large revisions to become what it is today.<br /><br />
        Though I am the original and main author of this and the other apps in the project, I would like to 
        thank the following people:<br/ >
        Elroy and Tsal, for accepting and promoting this app, and for offering many excellent suggestions about how it should work,<br />
        Sumeko, for giving me a huge list of extremely detailed thoughts with explanations and suggestions,<br />
        Aes'lka Talosh, Judas, Marcus, James, and Judaires for offering suggestions, and<br />
        <a href="https://github.com/raylu">raylu</a> and <a href="https://github.com/pakesson">pakesson</a> for making 
        code contributions.
    </p>
</div>
<div class="card-panel light-blue lighten-5">
    <p>
        App &copy; <a href="https://github.com/Celeo">Celeo</a> - <a href="https://github.com/Celeo/EveTrackers">Open source</a>
        <br />
        EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual
        property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts
        or other recognizable features of the intellectual property relating to these trademarks are
        likewise the intellectual property of CCP hf. EVE Online and the EVE logo are the registered
        trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property
        of their respective owners.
    </p>
</div>

</center>

{% endblock %}
