{% extends 'site/base.html' %}

{% block subtitle %}
Add
{% endblock %}

{% block extraHead %}
<script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
        validate();
    });
    function validate() {
        if ($('#site_scanid').val().length == 3 && $('#site_name').val().length > 0 && $('#site_system').val().length > 0) {
            $('#site_submit_button').removeAttr("disabled");
        }
        else {
            $('#site_submit_button').attr('disabled', 'disabled');
        }
        if ($('#wormhole_scanid').val().length == 3 && $('#wormhole_start').val().length > 0 && $('#wormhole_end').val().length > 0) {
            $('#wormhole_submit_button').removeAttr("disabled");
        }
        else {
            $('#wormhole_submit_button').attr('disabled', 'disabled');
        }
    }
</script>
{% endblock %}

{% block content %}

<center>

<div class="row">
    <div class="col l12">
        <ul class="tabs" style="margin-top: 1em;">
            <li class="tab col l6"><a {% if model_type == 'site' %}class="active" {% endif %}href="#site">Site</a></li>
            <li class="tab col l6"><a {% if model_type == 'wormhole' %}class="active" {% endif %}href="#wormhole">Wormhole</a></li>
        </ul>
    </div>
</div>

<div class="card-panel">
    <div id="site">
        {% include 'site/siteform.html' %}
    </div>
    <div id="wormhole">
        {% include 'site/wormholeform.html' %}
    </div>
</div>

</center>

{% endblock %}
