<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block subtitle %}{% endblock %} | Site{% block titleAdd %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="EveTrackers - Site">
    <meta name="author" content="Celeo">

    <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <script>
    (function($) {
        $(function() {
            $('.button-collapse').sideNav();
        });
    })(jQuery);
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('body').keydown(function(event) {
                if (event.target.tagName !== "BODY")
                    return;
                switch (event.keyCode)
                {
                    case 72:
                        window.location.href = "{{ url_for('.index') }}";
                        break;
                }
            });
        {% if eveigb.is_igb() %}
            function getIGBSystem() {
                $.get("{{ url_for('.in_game_player_system') }}", function(data) {});
            }
            getIGBSystem();
            setInterval(getIGBSystem, 5000);
            $("#tracking_progress").html("Tracking");
        {% endif %}
            $("#add_new_model").on("click", function() {
                window.location.href = "{{ url_for('.add') }}";
            });
            $('.tooltipped').tooltip({delay: 50});
        });
        function getDisplayName() {
            return "{{ displayname }}";
        }
    </script>
    {% block extraHead %}{% endblock %}
</head>

<body>

<nav class="light-blue lighten-1" role="navigation">
    <div class="container">
        <div class="nav-wrapper">
            <a id="logo-container" href="{{ url_for('.index') }}" class="brand-logo">Site Tracker</a>
            <ul class="right">
                <li><a href="{{ url_for('.add') }}">Add</a></li>
                <li><a href="{{ url_for('.paste') }}">Paste</a></li>
                <li><a href="{{ url_for('.system_landing') }}">Systems</a></li>
                <li><a href="{{ url_for('.mastertable') }}">Master List</a></li>
                <li><a href="{{ url_for('.stats') }}">Stats</a></li>
                <li><a href="{{ url_for('.about') }}">About</a></li>
            {% if displayname == 'none' %}
                <li><a href="{{ url_for('login_page') }}">Login</a></li>
            {% else %}
                <li><a href="{{ url_for('.settings') }}">{{ displayname }}</a></li>
            {% endif %}
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="{{ url_for('.index') }}">Home</a></li>
                <li><a href="{{ url_for('.add') }}">Add</a></li>
                <li><a href="{{ url_for('.paste') }}">Paste</a></li>
                <li><a href="{{ url_for('.system_landing') }}">Systems</a></li>
                <li><a href="{{ url_for('.mastertable') }}">Master List</a></li>
                <li><a href="{{ url_for('.stats') }}">Stats</a></li>
            {% if displayname == 'none' %}
                <li><a href="{{ url_for('login_page') }}">Login</a></li>
            {% else %}
                <li><a href="{{ url_for('.settings') }}">{{ displayname }}</a></li>
            {% endif %}
            </ul>
            <a href="#" data-activities="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </div>
</nav>

<div class="" id="page_proper">
    <div class="block-padding">
        <center>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="card-panel{% if category == 'info' %}green{% elif category == 'warning' %}yellow{% else %}red{% endif %}">
                    <p>
                        {{ message }}
                    </p>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </center>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<div class="fixed-action-btn" style="bottom: 20px; right: 20px;" id="add_new_model">
    <a class="waves-effect waves-light btn btn-floating btn-large red tooltipped" data-position="top" data-delay="50" data-tooltip="Add new">
        <i class="large mdi-content-add"></i>
    </a>
</div>

{% block loadLaterJavascript %}{% endblock %}
{% block pageEnd %}{% endblock %}

</body>

</html>