{% if is_in_chain %}
    <h4>This system is directly in the chain</h4>
{% elif closest_chain %}
    <h4 style="margin-bottom: 0;">
        Closest chain system to this is <a href="{{ url_for('.system', system=closest_chain) }}">{{ closest_chain }}</a>, {{ closest_jumps }} 
        jump{% if closest_jumps != 1 %}s{% endif %}, <a href="#" id="toggle_additional">or ...</a>
    </h4>
    <div id="additional_entrances" class="card-panel light-blue lighten-5" style="padding: 1em; margin: 0.5em; width: 75%; display: none;">
        <p>
        {% for system, distance in additional %}
            <a href="{{ url_for('.system', system=system) }}">{{ system }} - {{ distance }} jumps</a><br />
        {% else %}
            No other entrances
        {% endfor %}
        </p>
    </div>
{% else %}
    <h4>There is no direct access to this system with the current wormhole chain.</h4>
{% endif %}
