{% extends 'site/base.html' %}

{% block subtitle %}
Edit Site
{% endblock %}

{% block extraHead %}
<script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
{% endblock %}

{% block content %}

<center>
<div class="container">
    <h2>Edit site #{{ site.id }}</h2>

    <form action="" method="POST">
        {% include 'site/siteform.html' %}
    </form>

    {% if admin %}
    <br />
    <form action="{{ url_for('.site', id=site.id) }}" method="POST">
        <input type="hidden" name="admin_delete" value="admin_delete">
        <button class="waves-effect waves-light btn btn-primary red" type="submit">Delete</button>
    </form>
    {% endif %}

    <br /><hr>

    <h3>Snapshots</h3>

    <table class="bordered striped hoverable">
        <tr>
            <th>Saved By</th>
            <th>Date</th>
            <th>Changed</th>
        </tr>
    {% for snap in site.snapshots %}
        <tr>
            <td>{{ snap.snapper }}</td>
            <td>{{ snap.date|date }}</td>
            <td>{{ snap.changed|safe }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
<br />
</center>

{% endblock %}
