{% extends 'site/base.html' %}

{% block subtitle %}
Index
{% endblock %}

{% block extraHead %}
<script type="text/javascript" src="{{ url_for('static', filename='js/tablesorter.min.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/kineticjs/5.0.6/kinetic.min.js"></script>
<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tablesorter.css') }}">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/site');
    socket.on('connect', function() {
        console.log("Client connected");
    });
    socket.on('sitetracker response', function(msg) {
        if (msg.data == 'update_tables')
            $('#notify_refresh').show();
        if (msg.data.lastIndexOf('update_locations:', 0) === 0)
            $('#graph_players').html(msg.data.split(':')[1]);
        if (msg.data.lastIndexOf('kick:', 0) === 0)
            if (msg.data.split(':')[1] == getDisplayName())
                window.location.href = "{{ url_for('logout_page') }}";
    });
    $(document).ready(function() {
        setTimeout(socket.emit('sitetracker event', { data: 'player_locations' }), 1000);
    });
</script>
{% endblock %}

{% block content %}

<center>

<div class="alert alert-warning" id="js_alerts" hidden>
    <button type="button" class="close" onclick="$('#js_alerts').hide(250);">&times;</button>
    <p id="js_alerts_out"></p>
</div>

<div class="card-panel amber lighten-3" id="notify_refresh" hidden>
    Someone has made edits since the data here was last refreshed.<br />
    Press the <b>r</b> key.
</div>

<div class="card-panel">
    This page loaded at Eve time {{ now|date }}.<br />
    Last edit: {{ last_update_diff }} ago, by {{ last_update_user }}
</div>

<div id="graph_all" class="card-panel light-blue lighten-5">
    <div id="graph_top">
        Clicking on a rectange will 1) show a link to the system, 2) set the "start" field in the mini-form, and 3) highlight the corresponding wormhole in the tables below.<br />
    </div>
    <div id="graph"></div>
    <div class="form-inline">
        <input type="text" name="scanid" id="graph_wormhole_scanid" placeholder="Scan ID" class="uppercase" style="width: 10%;" maxlength="3">
        <input type="text" name="start" id="graph_wormhole_start" placeholder="Start" style="width: 10%;">
        <input type="text" name="end" id="graph_wormhole_end" placeholder="end" style="width: 10%;">
        <button class="btn btn-primary" onclick="addNewWormholeGraph();">Add</button>
    </div>
    <div id="graph_info"></div>
    <div id="graph_players_container"><span id="graph_players"></span></div>
</div>

<br /><br />

<div id="tables"></div>

{% if not settings.dont_show_nn_banner %}
<br /><br /><div><script src="//fightforthefuture.github.io/countdown-widget/widget.min.js"></script></div>
<a href="{{ url_for('site_tracker.dont_show_nn_banner') }}">Don't show this again</a><br />
{% endif %}

</center>

{% endblock %}

{% block pageEnd %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to close this <span id="modal_message_final"></span>?</p>
            </div>
            <div class="modal_info" hidden>
                <label id="clickedType"></label>
                <label id="clickedID"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="performClose();">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to open this <span id="modal_message_final2"></span>?</p>
            </div>
            <div class="modal_info" hidden>
                <label id="clickedType2"></label>
                <label id="clickedID2"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="performOpen();">Yes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
