{% extends 'site/base.html' %}

{% block subtitle %}
Index
{% endblock %}

{% block extraHead %}
<script type="text/javascript" src="{{ url_for('static', filename='js/tablesorter.min.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/kineticjs/5.0.6/kinetic.min.js"></script>
<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tablesorter.css') }}">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/site');
    socket.on('connect', function() {
        console.log("Client connected");
    });
    socket.on('sitetracker response', function(msg) {
        if (msg.data == 'update_tables')
            $('#notify_refresh').show();
        if (msg.data.lastIndexOf('update_locations:', 0) === 0)
            $('#graph_players').html(msg.data.split(':')[1]);
        if (msg.data.lastIndexOf('kick:', 0) === 0)
            if (msg.data.split(':')[1] == getDisplayName())
                window.location.href = "{{ url_for('logout_page') }}";
    });
    $(document).ready(function() {
        setTimeout(socket.emit('sitetracker event', { data: 'player_locations' }), 1000);
    });
</script>
<style>
    td {
        padding: 0 0 0 5px;
    }
</style>
{% endblock %}

{% block content %}

<center>

<div class="card-panel amber lighten-3" id="notify_refresh" hidden>
    Someone has made edits since the data here was last refreshed.<br />
    Press the <b>r</b> key or click <a onclick="refreshData();">here</a>.
</div>

<div class="card-panel">
    This page loaded at Eve time {{ now|date }}.<br />
    Last edit: {{ last_update_diff }} ago, by {{ last_update_user }}
</div>

<div id="graph_all" class="card-panel light-blue lighten-5">
    <div id="graph_top">
        Clicking on a rectange will 1) show a link to the system, 2) set the "start" field in the mini-form, and 3) highlight the corresponding wormhole in the tables below.<br />
    </div>
    <div id="graph"></div>
    <div class="form-inline">
        <input type="text" name="scanid" id="graph_wormhole_scanid" placeholder="Scan ID" class="uppercase" style="width: 10%;" maxlength="3">
        <input type="text" name="start" id="graph_wormhole_start" placeholder="Start" style="width: 10%;">
        <input type="text" name="end" id="graph_wormhole_end" placeholder="end" style="width: 10%;">
        <button class="waves-effect waves-light btn btn-primary tooltipped"  data-position="bottom" data-delay="50" data-tooltip="Add new wormhole" onclick="addNewWormholeGraph();">Add</button>
    </div>
    <div id="graph_info"></div>
    <div id="graph_players_container"><span id="graph_players"></span></div>
</div>

<div class="card-panel grey lighten-5" id="tables"></div>

</center>

{% endblock %}

{% block pageEnd %}

<div class="modal" id="modalCloseModel">
    <div class="modal-content">
        <h4>Are you sure?</h4>
        <p>Are you sure that you want to close this <span id="modal_message_final"></span>?</p>
    </div>
    <div hidden>
        <label id="clickedType"></label>
        <label id="clickedID"></label>
    </div>
    <div class="modal-footer">
        <a onclick="" class="waves-effect waves-blue btn-flat modal-action modal-close">No</a>
        <a onclick="performClose();" class="waves-effect waves-blue btn-flat modal-action modal-close">Yes</a>
    </div>
</div>

<div class="modal" id="modalOpenModel">
    <div class="modal-content">
        <h4>Are you sure?</h4>
        <p>Are you sure that you want to close this <span id="modal_message_final2"></span>?</p>
    </div>
    <div hidden>
        <label id="clickedType2"></label>
        <label id="clickedID2"></label>
    </div>
    <div class="modal-footer">
        <a onclick="" class="waves-effect waves-blue btn-flat modal-action modal-close">No</a>
        <a onclick="performOpen();" class="waves-effect waves-blue btn-flat modal-action modal-close">Yes</a>
    </div>
</div>

{% endblock %}
