{% extends 'site/base.html' %}

{% block subtitle %}
Mass Close
{% endblock %}

{% block content %}

<center>

<br />
<div class="row">
    <form method="POST" action="">
        <table class="bordered striped hoverable extracellspacing">
            <tr>
                <th>Scan id</th>
                <th>Date</th>
                <th>Start</th>
                <th>Destination </th>
                <th>Status</th>
                <th>Opened</th>
                <th>Close?</th>
            </tr>
        {% for w in wormholes %}
            <tr>
                <td><a href="{{ url_for('.wormhole', id=w.id) }}">{{ w.scanid }}</a></td>
                <td>{{ w.date|date }}</td>
                <td><a href="{{ url_for('.system', system=w.start) }}">{{ w.start }}</a></td>
                <td><a href="{{ url_for('.system', system=w.end) }}">{{ w.end }}</a></td>
                <td>{{ w.status }}</td>
                <td>{% if w.opened %}<span class="g">True</span>{% else %}<span class="r">False</span>{% endif %}</td>
                <td>
                    <p>
                        <input type="checkbox" name="{{ w.id }}" id="{{ w.id }}"><label for="{{ w.id }}"></label>
                    </p>
                </td>
            </tr>
        {% endfor %}
        </table>
        <br />
        <button class="btn waves-effect waves-light light-blue accent-4" type="submit" id="site_submit_button" name="action">Submit
            <i class="mdi-content-send right"></i>
        </button>
    </form>
</div>

</center>

{% endblock %}
