{% extends 'site/base.html' %}

{% block subtitle %}
Settings
{% endblock %}

{% block content %}

<center>

<h1>Settings</h1>

{% if message %}
    <div class="alert alert-success" id="notice">
        <button type="button" class="close" onclick="$('#notice').fadeOut(250);">&times;</button>
        {{ message }}
    </div>
{% endif %}

<form action="" method="POST">

    <table class="extracellspacing">
        <tr>
            <td>Edit links open into a new tab</td>
            <td><input type="checkbox" name="nt" {% if settings_nt %}checked="checked"{% endif %}></td>
        </tr>
        <tr>
            <td>Store buttons redirect to the same page</td>
            <td><input type="checkbox" name="sm" {% if settings_sm %}checked="checked"{% endif %}></td>
        </tr>
        <tr>
            <td>Automatically open the index page's wormhole map</td>
            <td><input type="checkbox" name="aeg" {% if settings_aeg %}checked="checked"{% endif %}></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save" class="btn btn-primary" data-loading-text="Saving..." onclick="$(this).button('loading');"></td>
        </tr>
    </table>
</form>

<br />
<p>
    The <strong>edit links open into a new tab</strong> setting changes whether EDIT links<br />
    on the index and paste pages open into a new tab (<i>True</i>), or into the same page (<i>False</i>).<br />
    The <strong>store buttons redirect to the same page</strong> setting changes whether<br />
    the Store buttons on add pages redirects back to the store page (<i>True</i>), allowing the<br />
    quick entering of many sigs, or back to the index page (<i>False</i>).
</p>

</center>

{% endblock %}
