<div class="row">
    <form action="" method="POST" class="col l12">
        <input type="hidden" name="model_type" value="site">
        <div class="row">
            <div class="input-field col l12">
                <input type="text" id="site_creator" name="creator" value="{% if site %}{{ site.creator }}{% else %}{{ displayname }}{% endif %}" readonly>
                <label for="site_creator">Creator</label>
            </div>
        </div>
    {% if site %}
        <div class="row">
            <div class="input-field col l12">
                <input type="text" id="site_date" name="date" value="{% if site %}{{ site.date }}{% endif %}" {% if isForm %}{% else %}readonly{% endif %}>
                <label for="site_date">Date</label>
            </div>
        </div>
    {% endif %}
        <div class="row">
            <div class="input-field col l12">
                <input type="text" id="site_scanid" onkeyup="validate();" class="uppercase" name="scanid" value="{% if site %}{{ site.scanid }}{% elif g_scanid %}{{ g_scanid }}{% endif %}" maxlength="3">
                <label for="site_scanid">Scan ID</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12">
                <input type="text" id="site_system" onkeyup="validate();" name="system" value="{% if site %}{{ site.system }}{% elif g_system %}{{ g_system }}{% else %}{{ eveigb.solarsystemname }}{% endif %}">
                <label for="site_system">System</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12">
                <input type="text" id="site_name" onkeyup="validate();" name="name" value="{% if site %}{{ site.name }}{% elif g_name %}{{ g_name }}{% endif %}">
                <label for="site_name">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12">
            <select name="type">
            {% if site %}
                <option value="{{ site.type_ }}">{{ site.type_ }}</option>
            {% elif g_type %}
                <option value="{{ g_type }}">{{ g_type }}</option>
            {% else %}
                <option value="" disabled selected>Select site type</option>
            {% endif %}
                <option value="Combat">Combat</option>
                <option value="Relic">Relic</option>
                <option value="Gas">Gas</option>
                <option value="Data">Data</option>
                <option value="Ore">Ore</option>
            </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12">
                <p>
                    <input type="checkbox" id="site_opened" name="opened" {% if site and site.opened %}checked="checked"{% endif %}>
                    <label for="site_opened">Has the site been opened</label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12">
                <p>
                    <input type="checkbox" id="site_closed" name="closed" {% if site and site.closed %}checked="checked"{% endif %}>
                    <label for="site_closed">Has the site despawned</label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12">
                <textarea name="notes" id="site_notes" class="materialize-textarea">{% if site %}{{ site.notes }}{% endif %}</textarea>
                <label for="site_creator">Notes</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12">
                <button class="btn waves-effect waves-light light-blue accent-4" type="submit" id="site_submit_button" name="action">Submit
                    <i class="mdi-content-send right"></i>
                </button>
            </div>
        </div>
    </form>
</div>
