{% extends 'site/base.html' %}

{% block subtitle %}
Universe
{% endblock %}

{% block content %}

<center>

<h3>Universe Overview - systems with open sites/wormholes</h3>

<div style="font-size: 2em;">
    {% for system in systems %}
    <a href="{{ url_for('.system', system=system.name) }}">{{ system.name }}</a>
    {% if system.is_kspace() %}Sec {{ system.security_level }}{% else %}Class {{ system.class_ }}{% if not system.effect == 'None' %} {{ system.effect }}{% endif %}{% endif %}
    <br />
{% endfor %}
</div>

</center>

{% endblock %}
