{% extends 'site/base.html' %}

{% block subtitle %}
System Info
{% endblock %}

{% block extraHead %}
<script type="text/javascript">
    $(document).ready(function()
    {
    {% if kspace %}
        $("#jumps").load("{{ url_for('.get_tradehub_jumps', system=systemObject.name) }}");
        $("#kills").load("{{ url_for('.system_kills', system=systemObject.name) }}");
        $("#system_api_info").load("{{ url_for('.system_api_info', system=systemObject.name) }}");
    {% endif %}
        $("#closest_system").load("{{ url_for('.closest_chain_system', system=systemObject.name) }}", function() {
            $("#toggle_additional").on("click", function()
            {
                console.log("toggle");
                $("#additional_entrances").fadeToggle(500);
            });
        });
        $("#deletedscan").on("click", function(event)
        {
            event.preventDefault();
            window.location = "{{ url_for('.delete_dscan', system_id=systemObject.id) }}";
        });
    });
</script>
{% endblock %}

{% block content %}

<center>

<h2>{{ systemObject.name }}{% if rename %} "{{ rename }}"{% endif %}{% if class_ %}, Class {{ class_ }}
{% if systemObject.effect %} ({{ systemObject.effect }}){% endif %}{% endif %}{% if security %}, sec {{ security }}{% endif %}</h2>

{% if eveigb['solarsystemname'] == systemObject.name %}
    <h3>You are currently in this system</h3>
{% endif %}

{% if kspace %}
<div class="card-panel" id="closest_system">
    <span class="text-left gray">Loading closest system ...</span>
</div>

<div class="card-panel" id="system_api_info">
    <span class="text-left gray"><br /><br />Loading api data ...</span>
</div>
{% endif %}

<div class="row">
{% if kspace %}
        <div class="col l6">
            <p class="card-panel" id="kills"><span class="text-left gray">Loading recent kills in this system ...</span></p>
        </div>
        <div class="col l6">
            <div class="card-panel" id="jumps"><span class="text-left gray">Loading jumps to major tradehubs ...</span></div>
        </div>
{% else %}
    <div class="col l6 offset-l3 card-panel">
        <h5><b>Statics</b>:<br />{{ systemObject.static }}</h5>
    </div>
{% endif %}
</div>

<div class="card-panel">
    <h4>{% if systemObject.dscan %}DScan from {{ systemObject.dscan_date }}{% else %}Paste DScan Data{% endif %}</h4>
    <form action="" method="POST" id="notesform">
        <textarea name="systemdscan" id="systemdscan" style="width: 90%;" rows="10">{{ systemObject.dscan }}</textarea><br />
        <button class="waves-effect waves-light btn btn-primary tooltipped light-blue accent-4" type="submit">Save</button>
        <button class="waves-effect waves-light btn btn-primary tooltipped red">Delete</button>
    </form>
</div>
<div class="card-panel">
    <h4>Alliance Notes</h4>
    <form action="" method="POST" id="notesform">
        <textarea name="systemnote" id="systemnote" style="width: 90%;" rows="10">{{ systemObject.note }}</textarea><br />
        <button class="waves-effect waves-light btn btn-primary tooltipped light-blue accent-4" type="submit">Save</button>
    </form>
</div>

<div class="row">
    <div class="col l3 card-panel">
        <h4>Open wormholes</h4>
        {% if openwormholes %}
            <table class="bordered striped hoverable">
                <tr>
                    <th>Scan id</th>
                    <th>Date entered</th>
                    <th>From</th>
                    <th>Leads to</th>
                </tr>
                {% for w in openwormholes %}
                    {% if w.opened %}
                    <tr class="open">
                    {% else %}
                    <tr class="closed">
                    {% endif %}
                        <td><a href="{{ url_for('.wormhole', id=w.id) }}">{{ w.scanid }}</a></td>
                        <td>{{ w.date|date }}</td>
                        <td>
                            {% if systemObject.name == w.start %}
                               <i>{{ w.start }}</i>
                            {% else %}
                                <a href="{{ url_for('.system', system=w.start) }}">{{ w.start }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if systemObject.name == w.end %}
                                <i>{{ w.end }}</i>
                            {% else %}
                                <a href="{{ url_for('.system', system=w.end) }}">{{ w.end }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>
    <div class="col l3 card-panel">
        <h4>Currently open sites</h4>
        {% if opensites %}
            <table class="bordered striped hoverable">
                <tr>
                    <th>Scan id</th>
                    <th>Date entered</th>
                    <th>Name</th>
                </tr>
                {% for s in opensites %}
                    {% if s.isAnom %}
                    <tr class="anom">
                    {% elif s.opened %}
                    <tr class="open">
                    {% else %}
                    <tr class="closed">
                    {% endif %}
                        <td><a href="{{ url_for('.site', id=s.id) }}">{{ s.scanid }}</a></td>
                        <td>{{ s.date|date }}</td>
                        <td>{{ s.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>
    <div class="col l3 card-panel">
        <h4>Unopened sites</h4>
        {% if unopenedsites %}
            <table class="bordered striped hoverable">
                <tr>
                    <th>Scan id</th>
                    <th>Date entered</th>
                    <th>Name</th>
                </tr>
                {% for s in unopenedsites %}
                    {% if s.isAnom %}
                    <tr class="anom">
                    {% elif s.opened %}
                    <tr class="open">
                    {% else %}
                    <tr class="closed">
                    {% endif %}
                        <td><a href="{{ url_for('.site', id=s.id) }}">{{ s.scanid }}</a></td>
                        <td>{{ s.date|date }}</td>
                        <td>{{ s.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>
    <div class="col l3 card-panel">
    <h4>Closed wormholes</h4>
    {% if closedwormholes %}
        <table class="bordered striped hoverable">
            <tr>
            <th>Scan id</th>
            <th>Date entered</th>
        </tr>
        {% for w in closedwormholes %}
            <tr>
                <td><a href="{{ url_for('.wormhole', id=w.id) }}">{{ w.scanid }}</a></td>
                <td>{{ w.date|date }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>None</p>
    {% endif %}
    </div>
</div>

</center>

{% endblock %}
