<table id="wormholetable" class="hovertable">
    <thead>
        <tr>
            <th>ScanID</th>
            <th>Opened in</th>
            <th>Leads to</th>
            <th>Status</th>
            <th>Other side</th>
            <th>Entered</th>
            <th>Tiny</th>
            <th>Elapsed</th>
            <th class="bottom-border"></th>
            <th class="bottom-border"></th>
        </tr>
    </thead>
    <tbody>
    {% for w in wormholes %}
        <tr class="{% if w.opened %}obj_open {% endif%}wormhole_row" id="wormhole_row_{{ w.id }}">
            <td id="wid{{ w.id }}"><a href="{{ url_for('.wormhole', id=w.id) }}">{{ w.scanid }}</a></td>
            <td id="wstart{{ w.id }}"><a href="{{ url_for('.system', system=w.start) }}">{{ w.start }}</a></td>
            <td id="wend{{ w.id }}">{% if w.end == 'Unknown' or w.end == '' or w.end == 'Unopened' or w.end == 'Closed' %}{{ w.end }}{% else %}<a href="{{ url_for('.system', system=w.end) }}">{{ w.end }}</a>{% endif %}</td>
            <td id="wstatus{{ w.id }}">{{ w.status }}</td>
            <td id="wo_scanid{{ w.id }}">{% if w.o_scanid %}{{ w.o_scanid }}{% else %}?{% endif %}</td>
            <td>{{ w.date|date }}</td>
            <td>{% if w.tiny %}Yes{% else %}No{% endif %}</td>
            <td class="countup">{% for k,v in elapsed_timers.items() %}{% if k == w.id %}{{ v }}{% endif %}{% endfor %}</td>
            <td id="wlink{{ w.id }}"><a class="label label-warning" onclick="edit('wormhole', {{ w.id }});">Change</a></td>
        {% if w.opened %}
            <td><a href="#myModal" role="button" class="label label-info" data-toggle="modal" onclick="updateModal('wormhole', '{{ w.id }}');">Close</a><td>
        {% else %}
            <td><a href="#myModal2" role="button" class="label label-info" data-toggle="modal" onclick="updateModal2('wormhole', '{{ w.id }}');">Open</a></td>
        {% endif %}
        </tr>
    {% endfor %}
        <tr>
            <td><input onkeyup="checkNew('wormhole');" type="text" id="w_new_scanid" name="scanid" class="uppercase short_input" placeholder="id" maxlength="3"></td>
            <td><input onkeyup="checkNew('wormhole');" type="text" id="w_new_start" name="start" class="short_input" placeholder="start"></td>
            <td><input onkeyup="checkNew('wormhole');" type="text" id="w_new_end" name="end" class="short_input" placeholder="end"></td>
            <td><select style="margin: 0 0 0 0; padding: 0 0 0 0; width: 10em;" id="w_new_status" name="status"><option>Undecayed</option><option>Fresh</option><option>&#60 50% mass</option><option>VoC</option><option>EoL</option><option>VoC and EoL</option><option>Unknown</option></select></td>
            <td><input onkeyup="checkNew('wormhole');" type="text" id="w_new_o_scanid" name="o_scanid" class="uppercase short_input" placeholder="ID2" maxlength="3"></td>
            <td><button id="w_new_submit" type="submit" class="btn btn-xs btn-primary" onclick="addNewWormhole();" disabled>Add New</button></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<br /><br />

<table id="sitetable" class="hovertable">
    <thead>
        <tr>
            <th>ScanID</th>
            <th>Name
            <th>Type</th>
            <th>System</th>
            <th>Opened</th>
            <th>Entered</th>
            <th class="bottom-border"></th>
            <th class="bottom-border"></th>
        </tr>
    </thead>
    <tbody>
    {% for s in sites %}
        {% if s.isAnom %}
            <tr class="obj_anom">
        {% elif s.opened %}
            <tr class="obj_open">
        {% else %}
            <tr>
        {% endif %}
            <td id="sid{{ s.id }}"><a href="{{ url_for('.site', id=s.id) }}">{{ s.scanid }}</a></td>
            <td id="sname{{ s.id }}">{{ s.name }}</td>
            <td id="stype{{ s.id }}">{{ s.type_ }}</td>
            <td><a href="{{ url_for('.system', system=s.system) }}" target="_blank">{{ s.system }}</a></td>
            <td>{% if s.opened %}<span class="g">{{ s.opened }}</span>{% else %}<span class="r">{{ s.opened }}</span>{% endif %}</td>
            <td>{{ s.date|date }}</td>
            <td id="slink{{ s.id }}"><a class="label label-warning" onclick="edit('site', {{ s.id }});">Change</a></td>
            {% if s.opened %}
            <td><a href="#myModal" role="button" class="label label-info" data-toggle="modal" onclick="updateModal('site', '{{ s.id }}');">Close</a><td>
            {% else %}
            <td><a href="#myModal2" role="button" class="label label-info" data-toggle="modal" onclick="updateModal2('site', '{{ s.id }}');">Open</a></td>
            {% endif %}
        </tr>
    {% endfor %}
        <tr>
            <td><input onkeyup="checkNew('site');" type="text" id="s_new_scanid" class="uppercase short_input" name="scanid" placeholder="id" maxlength="3"></td>
            <td><input onkeyup="checkNew('site');" type="text" id="s_new_name" name="name" class="short_input" placeholder="name"></td>
            <td><select style="margin: 0 0 0 0; padding: 0 0 0 0; width: 100%;" id="s_new_type" name="type"><option>Combat</option><option>Relic</option><option>Gas</option><option>Data</option><option>Ore</option></select></td>
            <td><input onkeyup="checkNew('site');" type="text" id="s_new_system" class="short_input" name="system" placeholder="{{ homesystem }}" value="{{ homesystem }}"></td>
            <td><input type="checkbox" name="opened"></td>
            <td><button id="s_new_submit" type="submit" class="btn btn-xs btn-primary" onclick="addNewSite();" disabled>Add New</button></td>
            <td></td>
        </tr>
    </tbody>
</table>
