{% extends 'op/base.html' %}

{% block content %}

<div class="well">
    <h4>Start an Operation</h4>
    <form action="{{ url_for('.add_op') }}" method="POST" role="form">
        <input class="form-control" style="width: 25%;" type="text" placeholder="Operation name ..." name="name">
        <input class="form-control" style="width: 25%;" type="text" placeholder="FC ..." name="fc">
        <input class="form-control" style="width: 25%;" type="text" placeholder="Location ..." name="location">
        <textarea class="form-control" name="description" placeholder="Description ..." style="width: 50%;" rows="5"></textarea>
        <select class="form-control" style="width: 25%;" name="state">
            <option>Not started</option>
            <option>In progress</option>
            <option>Loot collected</option>
            <option>Loot sold</option>
            <option>Buyins pending</option>
            <option>Paid</option>
        </select>
        <input type="submit" class="btn btn-primary" value="Store">
    </form>
</div>

{% endblock %}
