{% extends 'op/base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/collapse.js') }}"></script>
{% endblock %}

{% block content %}

<div class="card-panel amber lighten-3">
    See the forum posting or your Evemail for information 
    on the new medium for tracking sites and anomalies.
</div>

<h3>Operations Listing</h3>

{% for op in operations %}
<div class="cellholder">
    <div>
        <div class="celltop" for="cb_{{ op.id }}">
            <a href="#">{{ op.name }}</a>
            <span class="right-align label {{ op.get_state_label() }}" style="float: right!important;">{{ op.state }}</span>
        </div>
        <div class="cellbottom" id="cb_{{ op.id }}" hidden>
            <p>
                <b>FC</b>: {{ op.leader }}<br>
                <b>Location</b>: {{ op.location }}<br>
                <b>Start</b>: {{ op.date }}<br>
                <b>Descrption</b>: {{ op.description|safe }}<br>
                <a class="btn waves-effect waves-light light-green accent-4" href="{{ url_for('.op', op_id=op.id) }}"
                    style="margin: 5px 0 0 0;">View
                    <i class="mdi-content-send right"></i>
                </a>
            </p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
