{% extends 'op/base.html' %}

{% block head %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script>
    var socket = io.connect("http://" + document.domain + ":" + location.port + "/op");
    socket.on("connect", function() {
        console.log("Client connected");
    });
    socket.on("optracker response", function(message) {
        if (message.op_id !== getOpId())
            return;
        if (message.command == "rename") {
            $("#opname").text(message.name);
        }
        if (message.command == "leader") {
            $("#opfc").text(message.leader);
        }
        if (message.command == "location") {
            $("#oplocation").text(message.location);
        }
        if (message.command == "state") {
            $("#opstate").text(message.state);
        }
        if (message.command == "lock") {
            window.location.reload();
        }
        if (message.command == "description") {
            $("#opdescription").text(message.description);
        }
        if (message.command == "add" || message.command == "remove") {
            updatePlayers();
        }
        if (message.command == "increment" || message.command == "decrement") {
            $("#playerrow_" + message.player_id + "_share").text(message.share);
            $("#tabletotalshares").text(message.total_shares);
        }
        if (message.command == "loot") {
            $("#lootprice").val(message.loot);
        }
        if (message.command == "tax") {
            $("#tax").val(message.tax);
        }
    });
    function messageSocket(message) {
        message["op_id"] = getOpId();
        socket.emit("optracker event", message);
    }
</script>

<script type="text/javascript">
    function getOpId() {
        return {{ op.id }};
    }
    $(document).ready(function() {
        $(document).on("click", "a.increment", function() {
            var pid = $(this).attr("playerid");
            var step = $("#step").val() == "" ? 1.0 : parseFloat($("#step").val());
            messageSocket({ command: "increment", player_id: pid, step: step });
        });
        $(document).on("click", "a.decrement", function() {
            var pid = $(this).attr("playerid");
            var step = $("#step").val() == "" ? 1.0 : parseFloat($("#step").val());
            messageSocket({ command: "decrement", player_id: pid, step: step });
        });
    });
    function updatePlayers() {
        $("#players").load("{{ url_for('.players', op_id=op.id) }}");
    }
    function renameOperation() {
        $("#opname").html('<input type="text" id="i_opname" value="' + $("#currentopname").text() + '">');
        $("#renameop").hide();
        $("#saverename").show();
    }
    function saveRenameOperation() {
        var newName = $("#i_opname").val();
        $("#renameop").show();
        $("#saverename").hide();
        $("#opname").html(newName);
        messageSocket({ command: "rename", name: newName });
    }
    function changeFC() {
        $("#opfc").html('<input type="text" id="i_opfc" value="' + $("#opfc").text() + '"">');
        $("#savechangefc").show();
        $("#changefc").hide();
    }
    function saveChangeFC() {
        var newLeader = $("#i_opfc").val();
        $("#savechangefc").hide();
        $("#changefc").show();
        $("#opfc").html(newLeader);
        messageSocket({ command: "leader", leader: newLeader });
    }
    function changeDescription() {
        $("#opdescription").html('<textarea id="i_opdescription" class="materialize-textarea width-half" rows="10">' + $("#opdescription").text() + '</textarea>');
        $("#savechangedescription").show();
        $("#changedescription").hide();
    }
    function saveChangeDescription() {
        var newDescription = $("#i_opdescription").val();
        $("#savechangedescription").hide();
        $("#changedescription").show();
        $("#opdescription").html(newDescription);
        messageSocket({ command: "description", description: newDescription });
    }
    function changeLocation() {
        $("#oplocation").html('<input type="text" id="i_oplocation" value="' + $("#oplocation").text() + '">');
        $("#savechangelocation").show();
        $("#changelocation").hide();
    }
    function saveChangeLocation() {
        var newLocation = $("#i_oplocation").val();
        $("#savechangelocation").hide();
        $("#changelocation").show();
        $("#oplocation").html(newLocation);
        messageSocket({ command: "location", location: newLocation });
    }
    function changeState() {
        var newState = $("#state").val();
        messageSocket({ command: "state", state: newState });
    }
    function removePlayer(id) {
        messageSocket({ command: "remove", player_id: id });
    }
    function addPlayer() {
        messageSocket({ command: "add", name: $("#playername").val(), corporation: $("#playercorp").val() });
    }
    function changeLoot() {
        messageSocket({ command: "loot", loot: $("#lootprice").val() });
    }
    function changeTax() {
        messageSocket({ command: "tax", tax: $("#tax").val() });
    }
    function lock(i) {
        messageSocket({ command: "lock", info: i });
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
{% endblock %}

{% block content %}

<span id="currentopname" hidden>{{ op.name }}</span>
<span id="currentopid" hidden>{{ op.id }}</span>

<h3><span id="opname">{{ op.name }}</span>
    {% if not op.locked %}
    <a onclick="renameOperation();" id="renameop" class="font-half">RENAME</a> 
    <a onclick="saveRenameOperation();" id="saverename" class="font-half" hidden>SAVE</a>
    {% endif %}
</h3>

<div class="card-panel">
    <b>FC</b>: <span id="opfc">{{ op.leader }}</span> {% if not op.locked %}<a onclick="changeFC();" id="changefc" class="font-half">CHANGE</a> 
        <a onclick="saveChangeFC();" id="savechangefc" class="font-half" hidden>SAVE</a>{% endif %}<br />
    <b>Location</b>: <span id="oplocation">{{ op.location }}</span> {% if not op.locked %}<a onclick="changeLocation();" id="changelocation" class="font-half">CHANGE</a> 
        <a onclick="saveChangeLocation();" id="savechangelocation" class="font-half" hidden>SAVE</a>{% endif %}<br />
    <b>Started</b>: {{ op.date }}<br />
    <b>API key</b>: {{ op.key }} <a href="#apikeyexplain" role="button" data-toggle="modal" class="font-half">WHAT IS THIS?</a><br />
{% if op.locked %}
    <b>State</b>: <span class="green-text" id="opstate">{{ op.state }}</span>
{% else %}
    <div class="row">
        <div class="col l3">
            <b>State</b>
            <select name="state" id="state">
                <option>{{ op.state }}</option>
                <option>Not started</option>
                <option>In progress</option>
                <option>Loot collected</option>
                <option>Loot sold</option>
                <option>Paid</option>
            </select>
        </div><br />
        <button class="btn light-green accent-4 waves-effect waves-light" onclick="changeState();">Change state</button>
    </div>
{% endif %}
{% if bursar %}
    <br />
    <a {% if not op.locked %}onclick="lock('1');"{% endif %}class="btn red waves-effect waves-light" {% if op.locked %}disabled="disabed"{% endif %}>Lock</a>
    <a {% if op.locked %}onclick="lock('0');"{% endif %}class="btn green waves-effect waves-light" {% if not op.locked %}disabled="disabed"{% endif %}>Unlock</a>
{% endif %}
{% if op.locked %}
    <p>
        <br />
        This operation was locked by an accounting staff member.{% if bursar %} As you are one of those accountants, you can 
        unlock this page with the Unlock button.{% endif %}
    </p>        
{% endif %}
</div>

<div class="modal fade" id="apikeyexplain" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>
                    This API key is used by the tool for automatically tracking payouts for operations from corporation wallets.
                    <br />
                    While this tool does support full manual payouts to players, it aims to eliminate much of the work that has to 
                    be recorded by bursars in doing payouts, specifically for escalations.
                    <br />
                    Bursars can push a button on the payout management page and the tool will poll the API keys in storage and 
                    attempt to mark as many players as possible as paid for their participation in operations.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="well">
    <h4>Description</h4>
    <span id="opdescription">{{ op.description|safe }}</span><br />
    {% if not op.locked %}
    <a onclick="changeDescription();" id="changedescription" class="font-half">CHANGE</a> 
    <a onclick="saveChangeDescription();" id="savechangedescription" class="font-half" hidden>SAVE</a>
    {% endif %}
</div>

<div class="well">
    <h4 class="float-left">Players</h4>
    {% if not op.locked %}
    <div class="float-right">
        <label for="step">Delta (default is 1.0)</label>
        <input id="step" type="number" min="0.1" max="1.0" step="0.1" style="width: 12em;">
    </div>
    {% endif %}
    <div class="clearfix"></div>
    <div id="players">
        <table class="bordered hoverable" id="playerstable">
            <tr id="tableheader">
                <th>Name</th>
                <th class="text-center">Shares</th>
            {% if not op.locked %}
                <th class="text-right">Increment</th>
                <th class="text-right">Decrement</th>
                <th class="text-right">Remove</th>
            {% else %}
                <th class="text-right">ISK Earned</th>
            {% endif %}
            </tr>
        {% for player in op.get_all_players() %}
            <tr id="playerrow_{{ player.id }}">
                <td>{{ player }}</td>
                <td class="text-center" id="playerrow_{{ player.id }}_share"><span id="sc_{{ player.id }}">{{ player.sites }}</span></td>
            {% if not op.locked %}
                <td class="text-right"><a class="btn btn-floating green increment" playerid="{{ player.id }}"><i class="mdi-content-add small black-text"></i></a></td>
                <td class="text-right"><a class="btn btn-floating yellow decrement" playerid="{{ player.id }}"><i class="mdi-content-remove small black-text"></i></a></td>
                <th class="text-right">
                    <div class="form-inline">
                        <input type="hidden" name="remove" value="{{ player.id }}">
                        <a class="btn btn-floating red" onclick="removePlayer({{ player.id }});"><i class="mdi-content-clear small black-text"></i></a>
                    </div>
                </th>
            {% else %}
                <td class="text-right">{{ player.get_share()|formatcommas }}</td>
            {% endif %}
            </tr>
        {% endfor %}
            <tr id="playerrow_total">
                <td></td>
                <th class="text-center" id="tabletotalshares">{{ op.total_shares()|formatcommas }}</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="row">
            <div class="col-lg-4">
            {% if not op.locked %}
                <h4>Add Player</h4>
                <div class="form-inline">
                    <input type="text" id="playername" placeholder="Player name" value="{{ displayname }}">
                    <input type="text" id="playercorp" placeholder="Player corp" value="">
                    <button class="btn light-green accent-4 waves-effect waves-light" onclick="addPlayer();">Add</button>
                </div>
            {% endif %}
            </div>
            <div class="col-lg-4">
                <h4>Loot</h4>
                {% if op.locked or not bursar %}
                    <p>
                        {{ op.loot|formatcommas }} isk
                    </p>
                {% else %}
                    <div class="form-inline">
                        <input type="text" placeholder="123456789" id="lootprice" {% if not op.loot == 0 %}value="{{ op.loot }}"{% endif %}><br />
                        <button class="btn light-green accent-4" onclick="changeLoot();">Save</button>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <h4>Tax (decimal)</h4>
                {% if op.locked or not bursar %}
                    <p>
                        {{ op.tax_as_percentage() }}
                    </p>
                {% else %}
                    <div class="form-inline">
                        <input name="tax" id="tax" type="number" min="0.0" max="1.0" step="0.01" placeholder="Tax (default is .10)" {% if not op.tax == '0.1' %}value="{{ op.tax }}"{% endif %}><br />
                        <button class="btn light-green accent-4" onclick="changeTax();">Save</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
