{% extends 'op/base.html' %}

{% block head %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#operation').material_select();
        $("input:checkbox.money").on("click", function() {
            if ($(this).prop("checked"))
                $("#payamount").attr("disabled", "disabled");
            else
                $("#payamount").removeAttr("disabled");
            if ($("#payfull").prop("checked"))
            {
                if ($(this).attr("id") == "payfull")
                { }
                else
                    $("#payfull").prop("checked", false);
            }
            if ($("#payzero").prop("checked"))
            {
                if ($(this).attr("id") == "payzero")
                { }
                else
                    $("#payzero").prop("checked", false);
            }
        });
        $("#operation").change(function() {
            chooseOperation();
            setTimeout(function() { choosePlayer(); }, 1000);
        });
        chooseOperation();
        setTimeout(function() { choosePlayer(); }, 1000);
    });
    function chooseOperation() {
        var op = $("#operation").val();
        $.ajax({
            type: "POST",
            url: "{{ url_for('.player_names') }}",
            data: {
                op: op
            },
            success: function(data) {
                $("#player").html(data);
                $('#player').find('select').material_select();
                $('#player').find('select').change(function() {
                    choosePlayer();
                });
                $("#player_info").html("");
                $("#biglist").load("payoutplayerlist/" + op.split(' ')[0]);
            }
        });
    }
    function choosePlayer() {
        $.ajax({
            type: "POST",
            url: "{{ url_for('.player_op_data') }}",
            data: {
                op: $("#operation").val(),
                player: $("#player").find('select').val()
            },
            success: function(data) {
                $("#player_info").html(data);
            }
        });
    }
    function doPayment() {
        var operation = $("#operation").val();
        var player = $("#player").find('select').val();
        var amount = $("#amount").val();
        var payInFull = $("#payfull").is(":checked");
        var zeroOut = $("#payzero").is(":checked");
        $.ajax({
            type: "POST",
            url: "{{ url_for('.payouts') }}",
            data: {
                operation: operation,
                player: player,
                amount: amount,
                payfull: payInFull,
                payzero: zeroOut
            },
            success: function(data) {
                chooseOperation();
                setTimeout(function() { choosePlayer(); }, 1000);
            }
        });
    }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/collapse.js') }}"></script>
{% endblock %}

{% block content %}

<div class="well">
    <h3>Make Payments <small>this page is locked to bursars</small></h3>
    <br />
    <div class="row">
        <select class="form-control width-half" id="operation">
        {% for operation in operations %}
            <option>{{ operation.id }} - {{ operation.name }}</option>
        {% endfor %}
        </select>
        <div id="player"></div><br />
        <div id="player_info"></div>
        <input class="form-control width-half" type="text" id="amount" placeholder="Amount">
        <div style="margin-left: 1em;">
            <p>
                <input type="checkbox" class="money" id="payfull">
                <label for="payfull">Pay in full</label>
            </p>
            <p>
                <input type="checkbox" class="money" id="payzero">
                <label for="payzero">Zero-out</label>
            </p>
        </div>
        <a class="btn light-green accent-4" onclick="doPayment();">Pay</a>
    </div>
</div>

<div class="well">
    <h3>Records</h3>
    <div id="biglist"></div>
</div>

{% endblock %}
