Flask==0.10.1
Flask-Admin==1.0.8
git+https://github.com/Celeo/python-oauth2.git
git+https://github.com/Celeo/flask-oauth.git
Flask-SQLAlchemy==2.0
Flask-SocketIO==0.4.1
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
SQLAlchemy==0.9.8
WTForms==2.0.1
Werkzeug==0.9.6
argparse==1.2.1
beautifulsoup4==4.3.2
eveapi==1.2.6
gevent==1.0.1
gevent-socketio==0.3.6
gevent-websocket==0.9.3
greenlet==0.4.5
gunicorn==18.0
httplib2==0.9
itsdangerous==0.24
lxml==3.4.0
oauth2==1.5.211
requests==2.4.3
wsgiref==0.1.2
