{% extends 'fuel/base.html' %}

{% block head %}

<script type="text/javascript">
    $(document).ready(function() {
        $('#data').load("{{ url_for('.data') }}");
    });
</script>

{% endblock %}

{% block content %}

<div class="alert alert-info">
    <p>
        If you want your towers to show up here, give Celeo a Corporation API Key with Starbase List and Starbase Details.
    </p>
</div>

<div class="alert alert-warning">
    <p>
        <strong>Note</strong>: The "Attack if standing lower than" field doesn't have a corresponding "enabled" field in the API 
        like "Attack if security status lower than" so ... it's value isn't exactly accurate.
    </p>
</div>

<div class="well" id="data">
    <h2>Loading ...</h2>
</div>

<p>It is now {{ now }}</p>

{% endblock %}
