{% extends 'fuel/base.html' %}

{% block content %}

<div>
    <div class="alert alert-warning">
        <p>
            If you want your towers to show up here, give Celeo a Corporation API Key with Starbase List and Details.
        </p>
    </div>
    <div class="alert alert-info">
    {% for pos in info %}
    <h3>Tower in {{ pos['Location System ID'] }}</h3>
    <p>
        {% for title, data in pos.items() %}
            <b>{{ title }}</b>: {{ data }}</br >
        {% endfor %}
    </p>
    {% endfor %}
    </div>
    <p>It is now {{ now }}</p>
</div>

{% endblock %}
