<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Eve Trackers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Celeo">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('.index') }}" class="navbar-brand">Eve Trackers</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li{% if page == 'home' %} class="active"{% endif %}><a href="{{ url_for('.index') }}">Home</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <h3>Eve Trackers</h3>

    <hr style="border: 1px solid gray;">

    <footer>
        <p style="font-size: 80%;">
            App &copy; <a href="https://github.com/Celeo">Celeo</a> 2013-14 <a href="https://github.com/Celeo/EveTrackers">We're open source!</a>
            <br />
            EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual
            property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts
            or other recognizable features of the intellectual property relating to these trademarks are
            likewise the intellectual property of CCP hf. EVE Online and the EVE logo are the registered
            trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property
            of their respective owners.
        </p>
    </footer>

</div>

</body>

</html>
