{% extends 'war/base.html' %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Died</th>
            <th class="text-center">Date</th>
            <th class="text-center">System</th>
            <th class="text-center">Attacker count</th>
        </tr>
    </thead>
    <tbody>
    {% for kill in kills %}
        <tr>
            <td><a href="{{ url_for('.kill', kill_id=kill.kill_id, hashcode=kill.hashcode) }}">{{ kill.victim }}</a></td>
            <td class="text-center">{{ kill.date }}</td>
            <td class="text-center">{{ kill.system }}</td>
            <td class="text-center">{{ kill.attacker_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
