{% extends 'war/base.html' %}

{% block content %}

<div class="row">
    <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
            <form action="{{ url_for('.uri_convert') }}" method="GET">
                <div class="input-field">
                    <input type="text" name="uri" id="uri">
                    <label for="uri">CREST URI</label><br />
                </div>
                <button class="btn waves-effect waves-light orange darken-1" type="submit" name="action">View Kill
                    <i class="mdi-content-send right"></i>
                </button>
            </form>
            <p>
                While viewing the killmail (from your character panel, corporation panel, or killmail link), click the settings menu 
                button on the upper-leftmost corner of the killmail panel. Click the option <i>Copy External Kill Link</i>, and that 
                will copy the link you need to your clipboard. Paste that link into the navbar's textbox and click the <i>View Kill</i> button.
            </p>
        </div>
    </div>
</div>

<table class="bordered striped hoverable">
    <thead>
        <tr>
            <th>Died</th>
            <th class="text-center">Date</th>
            <th class="text-center">System</th>
            <th class="text-center">Attacker count</th>
        </tr>
    </thead>
    <tbody>
    {% for kill in kills %}
        <tr>
            <td><a href="{{ url_for('.kill', kill_id=kill.kill_id, hashcode=kill.hashcode) }}">{{ kill.victim }}</a></td>
            <td class="text-center">{{ kill.date }}</td>
            <td class="text-center">{{ kill.system }}</td>
            <td class="text-center">{{ kill.attacker_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
