{% extends 'war/base.html' %}

{% block head %}
<script type="text/javascript">
    var destroyed = 0.00;
    var dropped = 0.00;
    $(document).ready(function() {
        $('.load_image').each(function(e) {
            $(this).html('<img src="' + $(this).attr('img_src') + '">');
        });
        $('.load_price').each(function(e) {
            $.ajax({
                type: 'GET',
                url: '/war/cost/' + $(this).attr('id'),
                data: {
                    item_id: $(this).attr('id')
                },
                success: function (data) {
                    console.log(data + ' | ' + $(e));
                    $(this).html('<span>' + data + '</span>');
                    data = parseFloat(data);
                    if ($(this).hasClass('destroyed'))
                        destroyed += data;
                    else
                        dropped += data;
                    $('#dropped').text(dropped);
                    $('#destroyed').text(destroyed);
                }
            });
        });
    });
</script>
<style>
    td.center {
        text-align: center;
    }
    td.load_image {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}

<h2>Kill Page</h2>

<p>
    <strong>Kill id</strong>: {{ kill_id }}<br />
    <strong>Hash code</strong>: {{ hashcode }}</br >
</p>

<div id="overview" class="well" style="padding: 2em;">
    <strong>$victim_name</strong> died to <strong>$attacker_count</strong> attackers on <strong>$date</strong>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Dropped</th>
            <th>Destroyed</th>
            <th>Image</th>
            <th>Cost Per</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ js['victim']['shipType']['name'] }}</td>
            <td class="center">-</td>
            <td class="center">-</td>
            <td class="load_image" img_src="http://image.eveonline.com/Type/{{ js['victim']['shipType']['id'] }}_64.png"></td>
            <td class="load_price" id="{{ js['victim']['shipType']['id'] }}"></td>
        </tr>
        {% for item in js['victim']['items'] %}
        <tr>
            <td class="{% if 'quantityDropped' in item or not 'quantityDestroyed' in item and item['quantityDropped'] > item['quantityDestroyed'] %}bg-success{% else %}bg-danger{% endif %}">{{ item['itemType']['name'] }}</td>
            <td class="center">{% if 'quantityDropped' in item %}{{ item['quantityDropped']|formatcommas }}{% else %}0{% endif %}</td>
            <td class="center">{% if 'quantityDestroyed' in item %}{{ item['quantityDestroyed']|formatcommas }}{% else %}0{% endif %}</td>
            <td class="load_image" img_src="http://image.eveonline.com/Type/{{ item['itemType']['id'] }}_32.png"></td>
            <td class="load_price {% if 'quantityDropped' in item %}dropped{% else %}destroyed{% endif %}" id="{{ item['itemType']['id'] }}"></td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="center"><strong>Total Dropped</strong></td>
            <td id="dropped"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="center"><strong>Total Destroyed</strong></td>
            <td id="destroyed"></td>
        </tr>
    </tbody>
</table>

{% endblock %}
