{% extends 'war/base.html' %}

{% block head %}
<script type="text/javascript">
    var item_count = {{ item_count }};
    $(document).ready(function() {
        $('.load_image').each(function(index) {
            $(this).html('<img src="' + $(this).attr('img_src') + '">');
        });
        $('.load_price').each(function(index) {
            var td = $(this);
            $.ajax({
                type: 'GET',
                url: '/war/cost/' + $(this).attr('id') + '/' + $(this).attr('qty'),
                data: {},
                success: function (data) {
                    td.text(data);
                    data = parseFloat(data);
                    item_count --;
                    if (item_count === -1) {
                        // $('#table_items tr').children('td.center.dropped').each(function(i) { console.log($(this).text()); })
                        // $('#table_items tr').each(function(i) { console.log(parseFloat($(this).children('td.dropped.center').text()) * parseFloat($(this).children('td.dropped.load_price').text())); });
                        // $('#table_items tr').each(function(i) { console.log(parseFloat($(this).children('td.destroyed.center').text()) * parseFloat($(this).children('td.destroyed.load_price').text())); });

                        var total = 0.00;
                        $('#table_items tr').each(function(i) {
                            var row_total = parseFloat($(this).children('td.dropped.center').text()) * parseFloat($(this).children('td.dropped.load_price').text());
                            if (!isNaN(row_total))
                                total += row_total;
                        });
                        $('#dropped').load('/war/format/' + total);
                        total = 0.00;
                        $('#table_items tr').each(function(i) {
                            var row_total = parseFloat($(this).children('td.destroyed.center').text()) * parseFloat($(this).children('td.destroyed.load_price').text());
                            if (!isNaN(row_total))
                                total += row_total;
                        });
                        $('#destroyed').load('/war/format/' + total);
                    }
                }
            });
        });
    });
</script>
<style>
    td.center {
        text-align: center;
    }
    td.load_image {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}

<h2>Kill Page</h2>

<!-- Overview -->

<br />

<div id="overview" class="well" style="padding: 2em;">
    <strong>{{ js['victim']['character']['name'] }}</strong> died to <strong>{{ js['attackerCount'] }}</strong> 
    attacker{% if js['attackerCount'] != 1 %}s{% endif %} at <strong>{{ js['killTime'] }}</strong> in <strong>{{ js['solarSystem']['name'] }}</strong> 
    after taking <strong>{{ js['victim']['damageTaken']|formatcommas }}</strong> damage
</div>

<!-- Items -->

<h3>Items</h3>

<table class="table" id="table_items">
    <thead>
        <tr>
            <th>Item</th>
            <th class="center">Dropped</th>
            <th class="center">Destroyed</th>
            <th>Image</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ js['victim']['shipType']['name'] }}</td>
            <td class="center dropped">0</td>
            <td class="center destroyed">1</td>
            <td class="load_image" img_src="http://image.eveonline.com/Type/{{ js['victim']['shipType']['id'] }}_64.png"></td>
            <td><span class="load_price" id="{{ js['victim']['shipType']['id'] }}" qty="1"></td>
        </tr>
        {% for item in js['victim']['items'] %}
        <tr class="{% if 'quantityDropped' in item or not 'quantityDestroyed' in item and item['quantityDropped'] > item['quantityDestroyed'] %}bg-success{% else %}bg-danger{% endif %}">
            <td>{{ item['itemType']['name'] }}</td>
            <td class="center dropped">{% if 'quantityDropped' in item %}{{ item['quantityDropped']|formatcommas }}{% else %}0{% endif %}</td>
            <td class="center destroyed">{% if 'quantityDestroyed' in item %}{{ item['quantityDestroyed']|formatcommas }}{% else %}0{% endif %}</td>
            <td class="load_image" img_src="http://image.eveonline.com/Type/{{ item['itemType']['id'] }}_32.png"></td>
            <td class="load_price {% if 'quantityDropped' in item %}dropped{% else %}destroyed{% endif %}" id="{{ item['itemType']['id'] }}" 
                qty="{% if 'quantityDropped' in item %}{{ item['quantityDropped'] }}{% else %}{{ item['quantityDestroyed'] }}{% endif %}"></td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="center"><strong>Total Dropped</strong></td>
            <td id="dropped"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="center"><strong>Total Destroyed</strong></td>
            <td id="destroyed"></td>
        </tr>
    </tbody>
</table>

<!-- Attackers -->

<h3>Attackers</h3>

<table class="table" id="table_attackers">
    <thead>
        <th>Name</th>
        <th>Corp</th>
        <th>Ship</th>
        <th>Weapon</th>
        <th>Damage Dealt</th>
    </thead>
    <tbody>
    {% for attacker in js['attackers'] %}
        <tr{% if attacker['finalBlow'] == True %} class="bg-info"{% endif %}>
            <td>{{ attacker['character']['name'] }}</td>
            <td>{{ attacker['corporation']['name'] }}</td>
            <td>{{ attacker['shipType']['name'] }}</td>
            <td>{{ attacker['weaponType']['name'] }}</td>
            <td>{{ attacker['damageDone']|formatcommas }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
