p .footer {
    font-size: 80%;
}

div .padding-tiny {
    padding: 1em;
}

.width-quarter {
    width: 25%;
}

.width-half {
    width: 50%;
}

.font-half {
    font-size: 50%;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.no-border {
    border: none;
}

.text-plus {
    font-size: 125%;
}

.cursor-pointer {
    cursor: pointer;
}
