table {
    border-collapse: collapse;
}

tr {
    padding: 5px 0 5px 0;
}

th {
    font-size: 120%;
    padding-left: 2px;
    padding-right: 2px;
}

input {
    text-align: center;
}

p .footer {
    font-size: 80%;
}

div .padding-tiny {
    padding: 1em;
}

.width-quarter {
    width: 25%;
}

.width-half {
    width: 50%;
}

.font-half {
    font-size: 50%;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.no-border {
    border: none;
}

.text-plus {
    font-size: 125%;
}
