body {
    background-color: #E6E6E6;
}

input[type="checkbox"] {
    text-align: left;
    vertical-align: center;
}

h3 {
    margin-top: 0;
}

hr.break {
    margin: 0 1em 0 1em;
}

.extracellspacing td {
    padding: 0 5px 0 5px;
}

.contenttable {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

.addsite {
    font-size: 150%;
    background-color: #EDEDED;
    padding-top: 8px;
    padding-bottom: 8px;
}

.g {
    color: green;
}

.r {
    color: red;
}

#ta_pastedata {
    width: 60%;
}

.link_big {
    height: 100px;
    vertical-align: middle;
    text-align: center;
    font-size: 200%;
}

.link_big:hover {
    font-size: 300%;
}

.p_link_big {
}

.obj_anom {
    background-color: rgb(51, 204, 255);
    background-color: rgba(51, 204, 255, 0.3);
}

.obj_open {
    background-color: rgb(41, 255, 41);
    background-color: rgba(41, 255, 41, 0.3);
}

.highlighted {
    background-color: rgb(230, 255, 41);
    background-color: rgba(230, 255, 41, 0.3);
    font-weight: bold;
}

.directions {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.wideinput input,textarea,select {
    width: 150%;
}

.short_input {
    width: 10em;
}

.gray {
    color: gray;
}

.block-padding {
    padding: 1% 1% 0 1%;
}

.modal-open {
    overflow: visible;
}
