<p>
    <b>Jumps to tradehubs (click link for directions):</b><br />
    <a href="http://evemaps.dotlan.net/route/{{ system }}:Amarr" target="_blank">Amarr</a>: <b>{{ amarr }}</b><br />
    <a href="http://evemaps.dotlan.net/route/{{ system }}:Dodixie" target="_blank">Dodixie</a>: <b>{{ dodixie }}</b><br />
    <a href="http://evemaps.dotlan.net/route/{{ system }}:Hek" target="_blank">Hek</a>: <b>{{ hek }}</b><br />
    <a href="http://evemaps.dotlan.net/route/{{ system }}:Jita" target="_blank">Jita</a>: <b>{{ jita }}</b><br />
    <a href="http://evemaps.dotlan.net/route/{{ system }}:Rens" target="_blank">Rens</a>: <b>{{ rens }}</b><br />
</p>
